[submodule "externals/MatLabTools"]
	path = externals/MatLabTools
	url = git@github.com:amereghe/MatLabTools.git
[submodule "externals/optics"]
	path = externals/optics
	url = git@github.com:amereghe/optics.git
[submodule "externals/ExternalMatLabTools"]
	path = externals/ExternalMatLabTools
	url = git@github.com:amereghe/ExternalMatLabTools.git
